extends layout

block content
    
    //- div#tasks 
    //-     each task, i in tasks
    //-         p #{task}

    div#days #{days}

    table#cal_table
        tr
            th.monday Monday
            th.tuesday Tuesday
            th.wednesday Wednesday
            th.thursday Thursday
            th.friday Friday
            th.saturday Saturday
            th.sunday Sunday
        tr#week1
            td.monday #{cal.day1}
            td.tuesday #{cal.day2}
            td.wednesday #{cal.day3}
            td.thursday #{cal.day4}
            td.friday #{cal.day5}
            td.saturday #{cal.day6}
            td.sunday #{cal.day7}
        tr#week2
            td.monday #{cal.day8}
            td.tuesday #{cal.day9}
            td.wednesday #{cal.day10}
            td.thursday #{cal.day11}
            td.friday #{cal.day12}
            td.saturday #{cal.day13}
            td.sunday #{cal.day14}
        tr#week3
            td.monday #{cal.day15}
            td.tuesday #{cal.day16}
            td.wednesday #{cal.day17}
            td.thursday #{cal.day18}
            td.friday #{cal.day19}
            td.saturday #{cal.day20}
            td.sunday #{cal.day21}
        tr#week4
            td.monday #{cal.day22}
            td.tuesday #{cal.day23}
            td.wednesday #{cal.day24}
            td.thursday #{cal.day25}
            td.friday #{cal.day26}
            td.saturday #{cal.day27}
            td.sunday #{cal.day28}
        tr#week5
            td.monday #{cal.day29}
            td.tuesday #{cal.day30}
            td.wednesday #{cal.day31}
            td.thursday #{cal.day32}
            td.friday #{cal.day33}
            td.saturday #{cal.day34}
            td.sunday #{cal.day35}
        tr#week6
            td.monday #{cal.day36}
            td.tuesday #{cal.day37}
            td.wednesday #{cal.day38}
            td.thursday #{cal.day39}
            td.friday #{cal.day40}
            td.saturday #{cal.day41}
            td.sunday #{cal.day42}