extends ../layout

block content
    h1.
        Task ID #{task._id}
    form(action='/tasks/#{task._id}/edit',method='post',name='updatetask',enctype='multipart/form-data')
        p Category Prefix:
            -if (typeof(task.catprefix) !== 'undefined'){
                input#inputCatprefix(type="text", value="#{task.catprefix}", name="catprefix")
            -} else {
                input#inputCatprefix(type="text", placeholder="eg. PRJ", name="catprefix")
            -}
        p Id In Category:
            -if (typeof(task.idincat) !== 'undefined'){
                input#inputIdincat(type="text", value="#{task.idincat}", name="idincat")
            -} else {
                input#inputIdincat(type="text", placeholder="ex. 1", name="idincat")
            -}
        p Title:
            -if (typeof(task.title) !== 'undefined'){
                input#inputTitle(type="text", value="#{task.title}", name="title")
            -} else {
                input#inputTitle(type="text", placeholder="ex. Re-style header", name="title")
            -}
        p Description:
            -if (typeof(task.description) !== 'undefined'){
                input#inputDescription(type="text", value="#{task.description}", name="description")
            -} else {
                input#inputDescription(type="text", placeholder="ex. Change the colour scheme.", name="description")
            -}
        p Target Date: 
            input#inputTarget(type="date", value="#{tasktarget}", name="target")
        p Status:
            -if (typeof(task.status) !== 'undefined'){
                input#inputStatus(type="text", value="#{task.status}", name="status")
            -} else {
                input#inputStatus(type="text", placeholder="ex. in-progress", name="status")
            -}
        p Progress:
            -if (typeof(task.progress) !== 'undefined'){
                input#inputProgress(type="text", value="#{task.progress}", name="progress")
            -} else {
                input#inputProgress(type="text", placeholder="ex. 50", name="progress")
            -}
        p Priority:
            -if (typeof(task.priority) !== 'undefined'){
                input#inputPriority(type="text", value="#{task.priority}", name="priority")
            -} else {
                input#inputPriority(type="text", placeholder="ex. 1", name="priority")
            -}
        p Difficulty:
            -if (typeof(task.difficulty) !== 'undefined'){
                input#inputDifficulty(type="text", value="#{task.difficulty}", name="difficulty")
            -} else {
                input#inputDifficulty(type="text", placeholder="ex. easy", name="difficulty")
            -}
        //- img(src="#{task.img.name}")
        p Image:
            input#inputImg(type="file", name="img")
        //- TODO: this needs to be changed to display thumbnails for all attachments and allow them to be selected and edited
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type="submit").
                Update