extends ../layout

block content
    //- p #{task._id}
    -if (task.completed !== null && typeof(task.completed) !== 'undefined'){
        p(class='task-complete') Completed
    -}
    h1 #{task.catprefix}-#{task.idincat}
    p #{task.title}
    p #{task.description}
    p created: #{taskcreated}
    p target date: #{tasktarget}
    -if (typeof(task.updated) !== 'undefined'){
        p updated: #{task.updated}
    -}
    -if (typeof(task.completed) !== 'undefined'){
        p completed: #{task.completed}
    -}
    p status: #{task.status}
    p progress: #{task.progress}
    p priority: #{task.priority}
    p difficulty: #{task.difficulty}
    -if (typeof(task.img) !== 'undefined'){
        img(src="../images/" + task.img)
    -}
    //- TODO: make a loop for multiple images to be loaded here